<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="demoDataDb:codeFirst" providerName="System.Data.SqlClient" connectionString="server=.\sql2016;database=DemoDataDb;user id=sa;password=klobasa;" />
    <add name="demoDataDb:databaseFirst"  providerName="System.Data.EntityClient"
         connectionString="metadata=res://*/DatabaseFirst.DemoDataDbContext.csdl|res://*/DatabaseFirst.DemoDataDbContext.ssdl|res://*/DatabaseFirst.DemoDataDbContext.msl;
                           provider=System.Data.SqlClient;
                           provider connection string=&quot;
                                data source=.\sql2016;
                                initial catalog=DemoDataDb;
                                persist security info=True;
                                user id=sa;
                                password=klobasa;
                                MultipleActiveResultSets=True;
                                App=EntityFramework&quot;" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>